<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/page.css" />
    <link rel="stylesheet" type="text/css" href="css/ui.css" />
    
    <title>Document</title>
</head>
<body>

        <ul>
          <li><a class="active" href="/start">HOME</a></li>
          <li>
              <div>
                <form action="save" method="post">  
                    <input type="hidden" name="currId" value="<%= foundPage.currId %>"/>
                    <button name="mysubmitbutton" id="mysubmitbutton" type="submit" class="custom-btn btn-1" onclick="showAlert()">  
                        SAVE
                    </button>  
                   </form>
              </div>
            </li>
          <li><div class="title">INFO</div></li>
          <div style="position: absolute;  right: 0; width: 200px; text-align:right;">
            <div class="dropdown">
                <button class="dropbtn"><%= foundUser.firstName.toUpperCase() %>  <%= foundUser.secondName.toUpperCase() %> 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">ON/OFF MUSIC</a>
                  <a href="#">CHOOSE THEME</a>
                  <a href="/api/auth/login">LOG OUT</a>
                </div>
              </div> 
          </div>
          
           </ul>
 

    <h1>VISUAL NOVEL</h1>
    <div id="container">
            <div id="sceneContent">
                    <img src="data:image/<%= foundPage.photo.contentType %>;base64,
                    <%=foundPage.photo.data.toString('base64')%>">
            </div>
        <div id="placeName">
            <h3>Woods</h3>
        </div>
            <div id="choices"> 
                <div id="characterName">
                    <%= foundPage.name %> 
                </div>
                <div id="text">
                    <%= foundPage.text %> 
                </div>
                <% for(let ch in answers){ %> 
                    <div class="choice">
                        <a href="/api/home/<%= answers[ch][0].nextQuestion %> " onclick="playCl()"><%= answers[ch][0].text %> </a>
                    </div>
                 <% } %> 
            </div>
            <audio id="audioCl" src="music/knopka.mp3" volume="0.5"></audio>

	</div>
    <div id="currId" style="display: none;"><%= foundPage.currId %></div>

    <script src="scripts/scripts.js"></script>
    
        <script>
           var getTest = "<%= foundPage.currId  %>";  //var test is now assigned to getTest which will only work on browsers
           console.log(getTest);  // successfully prints 101 on browser
        </script>
        
</body>
</html>