<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/page.css" />
    <link rel="stylesheet" type="text/css" href="css/ui.css" />
    
    <title>Document</title>
    
        </head>

        <body>
        
        <ul>
            <li><a class="active" href="/start">HOME</a></li>
            <li>
                <div>
                  <form action="save" method="post">  
                      <input type="hidden" name="currId" value="<%= foundPage.currId %>"/>
                      <button name="mysubmitbutton" id="mysubmitbutton" type="submit" class="custom-btn btn-1" onclick="showAlert()">  
                          SAVE
                      </button>  
                     </form>
                </div>
              </li>
            <li><a class="active" >INFO</a></li>
            <div style="position: absolute;  right: 0; width: 200px; text-align:right;">
                <div class="dropdown">
                    <button class="dropbtn"><%= foundUser.firstName.toUpperCase() %>  <%= foundUser.secondName.toUpperCase() %> 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="achievements">LOOK ACHIEVEMENTS</a>
                      <a href="#">ON/OFF MUSIC</a>
                      <a href="#">CHOOSE THEME</a>
                      <a href="/api/auth/login">LOG OUT</a>
                    </div>
                  </div> 
              </div>
        </ul>
       
         
    <h1>VISUAL NOVEL</h1>

    <div id="container">
            <div id="sceneContent">
                <img src="img/<%= foundPage.img %> ">
            </div>
        <div id="placeName">
            <h3>Woods</h3>
        </div>
            <div id="choices"> 
                <div id="characterName">
                    <%= foundPage.name %> 
                </div>
                <div id="text">
                    <%= foundPage.text %> 
                </div>
                <form action="/api/home/<%= foundPage.currId %> " method="POST">
                    <input type="text" id="choice" placeholder 
                    name="choose">
                    <button class="button1" onclick="playCl()">Input</button>
                </form>
                <audio id="audioCl" src="music/knopka.mp3" volume="0.5"></audio>    

            </div>
	</div>

    <script src="scripts/scripts.js"></script>
   
</body>
</html>